@import './../../../colors';
.square {
	animation: showAnim 0.2s;
}

@keyframes showAnim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.header {
	margin: 0;
	text-align: center;
	animation: showAnim;
	color: $text-color;
}
.list {
	animation: showAnim 0.2s;
	margin: 0;
	display: inline-block;
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-inline-start: 0;
}
.list-element {
	text-align: center;
	animation: showAnim;
}
.link {
	color: $text-color;
}
.link,
.link:visited,
.link:hover {
	text-decoration: none;
}
