@import 'colors';
.App {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	//grid-template-rows: 25% 100px auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'. . date saturday saturday'
		'. . clock . .'
		'xd3 finder finder finder .';
	width: 100%;

	background-color: $primary-color;
	height: 100%;
}
.xd3 {
	background-color: green;
	grid-area: xd3;
}
